@using InitCMS.Models; 
@model dynamic

@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
    ViewData["Title"] = "Init Store";
}

        <div class="row">
                    
            <div class="col-lg-3">
               <hr />
                <!-- Search-->
                <input id="myInput" class="form-control" type="text" placeholder="Search by Name ..." />

                <hr />
                <h3 class="my-4">Store Categories</h3>
                <div class="list-group">
                    @foreach (ProductCategory item in Model.productCategories)
                    {
                    <a asp-action="ProductByCategory" asp-route-id="@item.Id" class="list-group-item">@Html.DisplayFor(modelItem => item.Name)</a>
                    }


                </div>

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="jumbotron">
                    <h1>Learn to Use Init Store</h1>
                    <p class="lead">In Init store, you can do this and that. At <a href="https://www.imyansoft.com" target="_blank">Init Store</a> for people around the world.etc . text text</p>
                    <p><a href="https://www.imyansoft.com" target="_blank" class="btn btn-success btn-lg">Get started today</a></p>
                </div>

                <div class="row">
                    @foreach (Product item in Model.products)
                    {
                        <div class="col-md-6 col-lg-4 col-xl-3" data-role="name">
                            <div class="card h-100">
                                <a asp-action="Details" asp-route-id="@item.Id"><img class="card-img-top" src="@("~/images/" + item.ImagePath)" asp-append-version="true" width="210" height="210"></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">@Html.DisplayFor(modelItem => item.Name)</a>
                                    </h4>
                                    <h5>@Html.DisplayFor(modelItem => item.SellPrice) Ks</h5>
                                    <p class="card-text">@Html.DisplayFor(modelItem => item.PCode)</p>

                                </div>
                                <button type="button" class="btn btn-dark"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>

                            </div>
                        </div>
                    }

                </div>
                <!-- /.row -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->


    <!-- /.container -->
@section scripts{ 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $('div[data-role = "name"]').filter(function () {
                    $(this).toggle($(this).find('h4').text().toLowerCase().indexOf(value) > -1)
                });
            });
        });       

    </script>
}
