@model IEnumerable<InitCMS.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPOS.cshtml";
}

<br />
<div class="row" id="hidden">
    <div class="col-sm-8">
        <table class="table-hover" id="datatable">
            <thead>
                <tr>
                    <th style="display:none">

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SellPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Unit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Variant)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="display:none">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SellPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unit.Label)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CatTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Variant.VarOptOne)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!--End of Div col8-->
    <div class="col-sm-4 bg-light">
        <h4>Bill</h4>
        <button id="cutomer" value="1">Walk In Customer</button><button id="1">Store One</button>
        <table class="table" style="font-size:14px;">
            <thead>
                <tr>
                    <td>Product</td>
                    <td>Qty</td>
                    <td>Price</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody id="disp">
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td>SubTotal</td>
                    <td id="subtotal"></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <hr />
        <div class="col-sm-4"><a id="paybill" class="btn btn-success text-white" data-toggle="modal" data-target="#centralModalSm">Pay</a></div>
        
    </div>

</div>

<!-- Central Modal Small -->
<div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-sm" role="document">


        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 text-center" id="myModalLabel">Init POS</h4>
            </div>
            <div class="modal-body">
               
                <table class="table" style="font-size:12px;">
                    <thead>
                        <tr>
                            <td>Product</td>
                            <td>Qty</td>
                            <td>Price</td>
                            
                        </tr>
                    </thead>
                    <tbody id="mdisp">
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>SubTotal</td>
                            <td id="msubtotal"></td>                            
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm" id="print" >Print</button>
            </div>
        </div>
    </div>
</div>
<!-- Central Modal Small -->



@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable({

                "lengthChange": false,

            });

            var total;

            var table = $('#datatable').DataTable();
            $('#datatable tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                $('#disp').append('<tr><td id="pid" style="Display:none">' + data[0] +'</td><td id="pname" >' + data[1] + '<br /><em>1 pc</em></td>' +
                    '<td><input id="qty" maxlength="5" size="3" class="form-control" value="1"></input></td><td id="amt">' + data[3] + '</td><td id="amt2" style="display:none;"><input>' + data[3] +
                    '</input></td><td><a id="rm" class="btn btn-danger">X</a></td></tr>');
               //Calling Total
                calc_total();
            });
            //Delete
            $(document).on('click', '#rm', function () {
               //click delete
                $(this).closest('tr').remove();
                //calling total
                calc_total();
            });

            $('#disp').on('keyup change', function () {
               //calling subtotal
                calc();

            });

            function calc() {

                $('#disp tr').each(function () {
                    var html = $(this).html();
                    if (html != "") {
                        var qty = $(this).find('#qty').val();
                        var price = parseFloat($(this).find('#amt2:hidden').text());
                        //var gst_total = (qty * price * gst) / 100;
                        $(this).find('#amt').html(qty * price);
                        //calling total
                        calc_total();
                    }
                });
            }

            function calc_total() {
                total = 0;
                $('#disp tr #amt').each(function () {
                    total += parseFloat($(this).text());
                });
                $("#subtotal").html(total);

               // tax_sum = (total / 100) * $("#gst").val();
               //$("#tax_amount").val(tax_sum.toFixed(2));
               //$("#total_amount").val((tax_sum + total).toFixed(2));
            }

            $("#paybill").on('click', function () {

                console.log("paybill");
               
                // window.print();
                var sale = new Array();
                $('#disp tr').each(function (index) {
                    var obj = {};
                    obj.ProductId = $(this).find('#pid:hidden').text();
                    obj.Quantity = $(this).find('#qty').val();
                    obj.Total = $(this).find('#amt').text();
                    if (obj.ProductId != null && obj.Quantity != null) {
                        sale.push(obj);
                    }
                });

                var receipt = {

                    CustomerId: 2,
                    StoreId: 2
                };
                
                var salePrint = new Array();
                salePrint = [];
                $('#disp tr').each(function (index) {
                    var obj = {};
                    obj.ProductName = $(this).find('#pname').text();
                    obj.Quantity = $(this).find('#qty').val();
                    obj.Total = $(this).find('#amt').text();
                    if (obj.ProductName != null && obj.Quantity != null) {
                        salePrint.push(obj);
                    }
                });
                
                salePrint.forEach(function (item) { $("#mdisp").append('<tr><td>' + item.ProductName + '</td><td>' + item.Quantity + '</td><td>' + item.Total + '</td></tr>'); });     
                
                //SubTotal
                $('#msubtotal').html($('#subtotal').text());
                //remove Item
                
                $('#print').on('click', function () {
                    $('#disp tr').remove();
                    $('#subtotal').remove();
                    $('#mdisp tr').remove();
                    $('#msubtotal').remove();
                });


                @*$.ajax({

                    url: '@Url.Action("BillPay", "POS")',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({ sale: sale, receipt: receipt }),

                    success: function (data, status) {
                       console.log('the request(Success) is ' + status + ' the data is ' + data);
                       alert(status + data);
                        },
                    error: function (error) {
                       console.log('the request(Error) is ' + error);
                        alert(error);
                        }
                });*@
                
            });

        });
    </script>
}
