@model IEnumerable<InitCMS.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPOS.cshtml";
}

<br />
<div class="row">
    <div class="col-sm-8">
        <table class="table-hover" id="datatable">
            <thead>
                <tr>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SellPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Unit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Variant)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SellPrice)
                    </td>   
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit.Label)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CatTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Variant.VarOptOne)
                    </td>
                    <td><a class="btn btn-success">Detail</a>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <!--End of Div col8-->
    <div class="col-sm-4 bg-light">
        <h4>Bill</h4>
        <table class="table">
            <thead>
                <tr>
                    <td>Product</td>
                    <td>Qty</td>
                    <td>Price</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody id="disp">
                
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td>SubTotal</td>
                    <td id="subtotal"></td>
                    <td ></td> 
                    <td></td>
                </tr>
            </tfoot>
        </table>        
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
          //  $('#datatable').DataTable();
            var total;
            
            var table = $('#datatable').DataTable();
            $('#datatable tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                $('#disp').append('<tr><td>' + data[0] + '<br /><em>1 pc</em></td>' + '<td><input id="qty" maxlength="5" size="3" class="form-control" value="1"></input></td><td id="amt">' + data[2] + '</td><td style="display:none;"><input id="amt2">' + data[2] +
                    '</input></td><td><a id="rm" class="btn btn-danger">X</a></td><tr>');
               //Calling Total
                calc_total();
            });
            //Delete
            $(document).on('click', '#rm', function () {
               //click delete
                $(this).closest('tr').remove();
                //calling total
                calc_total();
            });

            $('#disp').on('keyup change', function () {
               //calling subtotal
                calc();
              
            });
                      
            function calc() {             
                
                $('#disp tr').each(function () {                    
                    var html = $(this).html();
                    if (html != "") {
                        var qty = $(this).find('#qty').val();
                        var price = parseFloat($(this).find(':hidden').text());
                        //var gst_total = (qty * price * gst) / 100;
                        $(this).find('#amt').html(qty * price);
                        //calling total
                        calc_total();
                    }
                });
            }

            function calc_total() {
                total = 0;               
                $('#disp tr #amt').each(function () {                   
                    total += parseFloat($(this).text());                    
                });
                $("#subtotal").html(total);       
                
               // tax_sum = (total / 100) * $("#gst").val();
               //$("#tax_amount").val(tax_sum.toFixed(2));
               //$("#total_amount").val((tax_sum + total).toFixed(2));
            }           

        });
    </script>
}
