@model InitCMS.Models.Variant

@{
    ViewData["Title"] = "Variant Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h5>Variant Details</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VarOptOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VarOptOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VarOptTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VarOptTwo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
