@model IEnumerable<InitCMS.ViewModel.POViewModel>

@{
    ViewData["Title"] = "PO Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Purchase Order Report</h5>
<p>
    <a asp-action="ReportView">Back to Report</a>
</p>
<hr />
<div class="table-responsive">
    <table class="table" id="datatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RefNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Store)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.TotalCost)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PODate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RefNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Store.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.TotalCost)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PODate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'print'
                ]
            });
        });
    </script>
}