@model IEnumerable<InitCMS.Models.ExpenseEntry>

@{
    ViewData["Title"] = "Expense Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Expense Report</h5>

<p>
    <a asp-action="ReportView">Back to Report</a>
</p>
<hr />
<div class="table-responsive">
    <table class="table" id="datatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Coa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coa.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'print'
                ]
            });
        });
    </script>
}