@model IEnumerable<InitCMS.Models.Product>

@{
    ViewData["Title"] = "Products List";
}

<h5>Products List</h5>
<hr />
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table" id="datatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.PurchasePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SellPrice)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@("~/imageSmall/" + item.ImagePath)" asp-append-version="true" width="40" height="40" loading="lazy" alt="smallImage" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCategory.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CatTitle)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PurchasePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SellPrice)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>


                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    
    </table>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'print'
                ]
            });
        });
    </script>
}